@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

@layer utilities{
    .clip-path-custom{
        clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
    }
}